<a href="https://colab.research.google.com/github/tranhuuan170302/Tran-Huu-An-data-analyst/blob/main/bai_thuc_hanh_hop_nhat_du_lieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/phân tích dữ liệu/pandas 2/data/FoodPrice_in_Turkey (1).csv")
df.head()

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail     5     KG      5  2013  4.4920
1  National Average         52  Rice - Retail     5     KG      6  2013  4.5786
2  National Average         52  Rice - Retail     5     KG     11  2013  4.7865
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
4  National Average         52  Rice - Retail     5     KG      1  2014  5.5099

# remove record

In [18]:
df=df.drop_duplicates(['ProductId'], keep='last')
df.tail(20)

      Place  ProductId  ...  Year     Price
6725  Izmir        285  ...  2019    6.9867
6761  Izmir        304  ...  2019    3.6964
6797  Izmir        317  ...  2019   10.8901
6833  Izmir        341  ...  2019  109.1172
6869  Izmir        345  ...  2019    4.2447
6895  Izmir        360  ...  2019    3.9023
6931  Izmir        364  ...  2019    7.4009
6967  Izmir        388  ...  2019    5.0299
7003  Izmir        401  ...  2019   27.8747
7020  Izmir        404  ...  2019    2.5628
7056  Izmir        414  ...  2019   35.5297
7092  Izmir        433  ...  2019   48.0534
7128  Izmir        434  ...  2019    3.9435
7164  Izmir        442  ...  2019  147.1558
7200  Izmir        450  ...  2019    4.3735
7236  Izmir        463  ...  2019    5.1285
7272  Izmir        491  ...  2019    0.7102
7308  Izmir        492  ...  2019    5.8147
7344  Izmir        493  ...  2019    5.0664
7380  Izmir        502  ...  2019   51.6071

[20 rows x 8 columns]

# xóa bảng ghi có productid trùng nhau và cập nhật lại chỉ số

In [21]:
df=df.drop_duplicates(['ProductId'], keep = 'last').reset_index(drop= True)
df

               Place  ProductId  ...  Year     Price
0   National Average        176  ...  2017    4.6500
1   National Average        212  ...  2015    3.2900
2   National Average        229  ...  2017    2.8300
3   National Average        233  ...  2017    4.2400
4   National Average        384  ...  2017    2.4800
5   National Average        465  ...  2017   46.8000
6              Izmir         52  ...  2019   10.2803
7              Izmir         58  ...  2019    4.2703
8              Izmir         66  ...  2019   13.0975
9              Izmir         83  ...  2019    2.0924
10             Izmir         92  ...  2019    0.6301
11             Izmir         94  ...  2019   11.7723
12             Izmir         97  ...  2019    5.5038
13             Izmir        105  ...  2019   38.4497
14             Izmir        108  ...  2019    7.5267
15             Izmir        112  ...  2019    4.9827
16             Izmir        114  ...  2019    4.7359
17             Izmir        119  ...  2019   33.0362
18             Izmir        124  ...  2019    5.9795
19             Izmir        151  ...  2019   51.5925
20             Izmir        173  ...  2019    2.2126
21             Izmir        181  ...  2019    1.4376
22             Izmir        183  ...  2019   59.2274
23             Izmir        184  ...  2019   10.8694
24             Izmir        185  ...  2019    2.7772
25             Izmir        209  ...  2019   51.1247
26             Izmir        231  ...  2019    2.7437
27             Izmir        239  ...  2019   30.1293
28             Izmir        244  ...  2019    9.2749
29             Izmir        254  ...  2019    9.8327
30             Izmir        258  ...  2019    5.0640
31             Izmir        281  ...  2019   35.1895
32             Izmir        285  ...  2019    6.9867
33             Izmir        304  ...  2019    3.6964
34             Izmir        317  ...  2019   10.8901
35             Izmir        341  ...  2019  109.1172
36             Izmir        345  ...  2019    4.2447
37             Izmir        360  ...  2019    3.9023
38             Izmir        364  ...  2019    7.4009
39             Izmir        388  ...  2019    5.0299
40             Izmir        401  ...  2019   27.8747
41             Izmir        404  ...  2019    2.5628
42             Izmir        414  ...  2019   35.5297
43             Izmir        433  ...  2019   48.0534
44             Izmir        434  ...  2019    3.9435
45             Izmir        442  ...  2019  147.1558
46             Izmir        450  ...  2019    4.3735
47             Izmir        463  ...  2019    5.1285
48             Izmir        491  ...  2019    0.7102
49             Izmir        492  ...  2019    5.8147
50             Izmir        493  ...  2019    5.0664
51             Izmir        502  ...  2019   51.6071

[52 rows x 8 columns]

#Tách file chứa thông tin sản phẩm

In [22]:
df_pro = df.loc[:, ['ProductId','ProductName','UmId','UmName']]
df_pro

    ProductId  ...       UmName
0         176  ...         Unit
1         212  ...           KG
2         229  ...           KG
3         233  ...           KG
4         384  ...           KG
5         465  ...          Day
6          52  ...           KG
7          58  ...           KG
8          66  ...           KG
9          83  ...           KG
10         92  ...         Unit
11         94  ...           KG
12         97  ...           KG
13        105  ...           KG
14        108  ...           KG
15        112  ...           KG
16        114  ...           KG
17        119  ...           KG
18        124  ...           KG
19        151  ...           KG
20        173  ...           KG
21        181  ...           KG
22        183  ...           KG
23        184  ...            L
24        185  ...           KG
25        209  ...         Unit
26        231  ...           KG
27        239  ...            L
28        244  ...           KG
29        254  ...           KG
30        258  ...           KG
31        281  ...           KG
32        285  ...            L
33        304  ...       Course
34        317  ...           KG
35        341  ...        12 KG
36        345  ...           KG
37        360  ...           KG
38        364  ...           KG
39        388  ...           KG
40        401  ...           KG
41        404  ...           KG
42        414  ...           KG
43        433  ...           KG
44        434  ...           KG
45        442  ...           KG
46        450  ...           KG
47        463  ...            L
48        491  ...          kWh
49        492  ...      Package
50        493  ...  Cubic meter
51        502  ...           KG

[52 rows x 4 columns]

# Tách file chứa thông tin giá với số dòng từ bản ghi 10 đến 20

In [23]:
df_pro1 = df.loc[10:20, ['ProductId','ProductName','UmId','UmName']]
df_pro1

    ProductId                    ProductName  UmId UmName
10         92                  Eggs - Retail    33   Unit
11         94        Meat (chicken) - Retail     5     KG
12         97                 Sugar - Retail     5     KG
13        105                Garlic - Retail     5     KG
14        108               Lentils - Retail     5     KG
15        112                 Pasta - Retail     5     KG
16        114              Tomatoes - Retail     5     KG
17        119  Groundnuts (shelled) - Retail     5     KG
18        124        Bread (common) - Retail     5     KG
19        151                Coffee - Retail     5     KG
20        173                Onions - Retail     5     KG

# ghép các cột từ các file

In [24]:
df1 = pd.merge(df_pro, df_pro1, on='ProductId')
df1

    ProductId                  ProductName_x  ...  UmId_y UmName_y
0          92                  Eggs - Retail  ...      33     Unit
1          94        Meat (chicken) - Retail  ...       5       KG
2          97                 Sugar - Retail  ...       5       KG
3         105                Garlic - Retail  ...       5       KG
4         108               Lentils - Retail  ...       5       KG
5         112                 Pasta - Retail  ...       5       KG
6         114              Tomatoes - Retail  ...       5       KG
7         119  Groundnuts (shelled) - Retail  ...       5       KG
8         124        Bread (common) - Retail  ...       5       KG
9         151                Coffee - Retail  ...       5       KG
10        173                Onions - Retail  ...       5       KG

[11 rows x 7 columns]

### sử dung hàm concat

In [25]:
df2=pd.concat([df_pro,df_pro1], axis=1)
df2

    ProductId                                        ProductName  ...  UmId UmName
0         176                               Tea (green) - Retail  ...   NaN    NaN
1         212                         Peas (green, dry) - Retail  ...   NaN    NaN
2         229                              Apples (red) - Retail  ...   NaN    NaN
3         233                    Cucumbers (greenhouse) - Retail  ...   NaN    NaN
4         384                              Bread (pita) - Retail  ...   NaN    NaN
5         465  Wage (non-qualified labour, non-agricultural) ...  ...   NaN    NaN
6          52                                      Rice - Retail  ...   NaN    NaN
7          58                               Wheat flour - Retail  ...   NaN    NaN
8          66                             Beans (white) - Retail  ...   NaN    NaN
9          83                                  Potatoes - Retail  ...   NaN    NaN
10         92                                      Eggs - Retail  ...  33.0   Unit
11         94                            Meat (chicken) - Retail  ...   5.0     KG
12         97                                     Sugar - Retail  ...   5.0     KG
13        105                                    Garlic - Retail  ...   5.0     KG
14        108                                   Lentils - Retail  ...   5.0     KG
15        112                                     Pasta - Retail  ...   5.0     KG
16        114                                  Tomatoes - Retail  ...   5.0     KG
17        119                      Groundnuts (shelled) - Retail  ...   5.0     KG
18        124                            Bread (common) - Retail  ...   5.0     KG
19        151                                    Coffee - Retail  ...   5.0     KG
20        173                                    Onions - Retail  ...   5.0     KG
21        181                                   Cabbage - Retail  ...   NaN    NaN
22        183                             Meat (mutton) - Retail  ...   NaN    NaN
23        184                           Oil (sunflower) - Retail  ...   NaN    NaN
24        185                                      Salt - Retail  ...   NaN    NaN
25        209                          Coffee (instant) - Retail  ...   NaN    NaN
26        231                               Cauliflower - Retail  ...   NaN    NaN
27        239                               Oil (olive) - Retail  ...   NaN    NaN
28        244                                 Chickpeas - Retail  ...   NaN    NaN
29        254                                   Bananas - Retail  ...   NaN    NaN
30        258                                    Bulgur - Retail  ...   NaN    NaN
31        281                                       Tea - Retail  ...   NaN    NaN
32        285                    Fuel (petrol-gasoline) - Retail  ...   NaN    NaN
33        304                        Transport (public) - Retail  ...   NaN    NaN
34        317                          Tomatoes (paste) - Retail  ...   NaN    NaN
35        341                                Fuel (gas) - Retail  ...   NaN    NaN
36        345                                    Apples - Retail  ...   NaN    NaN
37        360                                   Oranges - Retail  ...   NaN    NaN
38        364                                    Yogurt - Retail  ...   NaN    NaN
39        388                                 Cucumbers - Retail  ...   NaN    NaN
40        401                              Fish (fresh) - Retail  ...   NaN    NaN
41        404                                   Spinach - Retail  ...   NaN    NaN
42        414                                    Cheese - Retail  ...   NaN    NaN
43        433                               Meat (veal) - Retail  ...   NaN    NaN
44        434                                 Eggplants - Retail  ...   NaN    NaN
45        442             Milk (powder, infant formula) - Retail  ...   NaN    NaN
46        450                                  Zucchini - Retail  ...   NaN    NaN
47        463                        Milk (pasteurized) - Retail  ...   NaN    NaN
48        491                               Electricity - Retail  ...   NaN    NaN
49        492                              Tea (herbal) - Retail  ...   NaN    NaN
50        493                                     Water - Retail  ...   NaN    NaN
51        502                            Cocoa (powder) - Retail  ...   NaN    NaN

[52 rows x 8 columns]