<a href="https://colab.research.google.com/github/tranhuuan170302/Tran-Huu-An-data-analyst/blob/main/bai_tap_lam_them.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/phân tích dữ liệu/pandas 2/data/FoodPrice_in_Turkey (1).csv")
df.head()

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail     5     KG      5  2013  4.4920
1  National Average         52  Rice - Retail     5     KG      6  2013  4.5786
2  National Average         52  Rice - Retail     5     KG     11  2013  4.7865
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
4  National Average         52  Rice - Retail     5     KG      1  2014  5.5099

# đề bài thầy giáo:Cho trước một data frame có kích thước N dòng Viết đoạn code, có một giá trị truyền vào n_size là số nguyên mà lấy ngẫu nhiên một giá trị nguyên idx nằm giữa 0 và N-n_size, và hiển thị phần dữ liệu từ data frame cho trước đó tính từ giá trị ngẫu nhiên idx với số dòng cần hiển thị là n_size

### + Nhập n_size
### +Lấy idx ngẫu nhiên mà idx>0 và idx<N-n_size
### +Hiển thị các dòng dataframe từ idx đến idx+n_size-1

In [3]:
import random
n = df.shape[0]
n_size = int(input("nhập vào giá tri n:"))
idx = random.randrange(0, n-n_size)
df.iloc[idx, :]

nhập vào giá tri n:200

Place          National Average
ProductId                   181
ProductName    Cabbage - Retail
UmId                          5
UmName                       KG
Month                         5
Year                       2018
Price                    2.0784
Name: 1038, dtype: object