<a href="https://colab.research.google.com/github/tranhuuan170302/Tran-Huu-An-data-analyst/blob/main/pandas1_GDPlst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31020936/GDPlist.csv", encoding='unicode_escape')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

# ROWS AND COLUMNS

In [2]:
print('rows: ', df.shape[0])
print('columns: ', df.shape[1])

rows:  125
columns:  3

# type columns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

# việt hóa các tên cột

In [4]:
df.rename(columns={'Country':"nuoc", 'Continent': 'chauluc', 'GDP (millions of US$)': 'GDP'}, inplace= True)

In [5]:
df.head()

           nuoc        chauluc     GDP
0   Afghanistan           Asia   18181
1       Albania         Europe   12847
2       Algeria         Africa  190709
3        Angola         Africa  100948
4     Argentina  South America  447644

# chèn cột thanhpho vao sau cot nuoc

In [6]:
df.insert(1, 'thanhpho', value= df['nuoc'])

In [7]:
df.head()

           nuoc      thanhpho        chauluc     GDP
0   Afghanistan   Afghanistan           Asia   18181
1       Albania       Albania         Europe   12847
2       Algeria       Algeria         Africa  190709
3        Angola        Angola         Africa  100948
4     Argentina     Argentina  South America  447644

# thay thế tên các nước thành thủ đô trong cột thanhpho

In [9]:
df_2 = pd.read_csv("/country-list.csv")
df_2.head()

                 country              capital            type
0               Abkhazia              Sukhumi  countryCapital
1            Afghanistan                Kabul  countryCapital
2  Akrotiri and Dhekelia  Episkopi Cantonment  countryCapital
3                Albania               Tirana  countryCapital
4                Algeria              Algiers  countryCapital

In [10]:
for i in range(len(df['nuoc'])):
  for j in range(len(df_2['country'])):
    if str(df.iloc[i,0]).lower().strip() == str(df_2.iloc[j,0]).lower().strip():
      df['thanhpho'].replace(df.iloc[i,0], df_2.iloc[j,1], inplace = True)

In [11]:
df.head()

           nuoc      thanhpho        chauluc     GDP
0   Afghanistan         Kabul           Asia   18181
1       Albania        Tirana         Europe   12847
2       Algeria       Algiers         Africa  190709
3        Angola        Luanda         Africa  100948
4     Argentina  Buenos Aires  South America  447644

# remove hangf co Asia

In [14]:
df.drop(df[df.chauluc == 'Asia'].index, axis=0, inplace=True)
df.head()

         nuoc      thanhpho        chauluc      GDP
1     Albania        Tirana         Europe    12847
2     Algeria       Algiers         Africa   190709
3      Angola        Luanda         Africa   100948
4   Argentina  Buenos Aires  South America   447644
5   Australia      Canberra        Oceania  1488221

# xóa bảng ghi có GDP trên 300000

In [15]:
df.drop(df[df.GDP > 300000].index, axis = 0, inplace=True)
df.head(10)

                       nuoc  thanhpho chauluc     GDP
1                   Albania    Tirana  Europe   12847
2                   Algeria   Algiers  Africa  190709
3                    Angola    Luanda  Africa  100948
7                Azerbaijan      Baku  Europe   62321
10                  Belarus     Minsk  Europe   55483
12                  Bolivia     Sucre  Africa   24604
13   Bosnia and Herzegovina  Sarajevo  Europe   17965
14                 Botswana  Gaborone  Africa   17570
17                 Bulgaria     Sofia  Europe   53514
20                 Cameroon   Yaoundé  Africa   25759