<a href="https://colab.research.google.com/github/tranhuuan170302/Tran-Huu-An-data-analyst/blob/main/Ph%C3%A2n_t%C3%ADch_tr%C3%AAn_b%E1%BB%99_d%E1%BB%AF_li%E1%BB%87u_GPD_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df =pd.read_csv("/content/drive/MyDrive/phân tích dữ liệu/pandas 2/data/GDPlist (1).csv", encoding='ISO-8859-1')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

#Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [3]:
print("số dòng là: ",df.shape[0])
print("số cột là: ", df.shape[1])

số dòng là:  125
số cột là:  3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

#Tính giá trị lớn nhất và nhỏ nhất của GDP.

In [6]:
df['GDP (millions of US$)'].max()

15094025

#Hãy cho biết xu hướng phân bố dữ liệu của GDP.

In [7]:
df['GDP (millions of US$)'].mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Length: 125, dtype: int64

#Hãy cho biết châu lục nào xuất hiện nhiều nhất?

In [8]:
df['Continent'].mode()

0    Europe
dtype: object

#Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [12]:
df['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America'], dtype=object)

In [28]:
# tính tổng
df1 = df.groupby(['Continent']).sum()
df1

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [26]:
# tính gdp
df2 = df.groupby(['Continent']).mean()
df2

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05
South America           4.601352e+05

# hợp nhất bảng

In [29]:
df3 = pd.merge(df1, df2, on='Continent')
df3

               GDP (millions of US$)_x  GDP (millions of US$)_y
Continent
Africa                         1820811             6.278659e+04
Asia                          24425891             6.784970e+05
Europe                        19139380             5.172805e+05
North America                 18238447             1.658041e+06
Oceania                        1662727             5.542423e+05
South America                  4141217             4.601352e+05