<a href="https://colab.research.google.com/github/tranhuuan170302/Tran-Huu-An-data-analyst/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31011319/OnlineRetail.csv", encoding="'ISO-8859-1")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [51]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [52]:
df.shape

(541909, 8)

In [53]:
df1 = df.groupby("Country")["Quantity"].mean()

In [54]:
df1 = pd.DataFrame(df1)

In [55]:
df1= df1.reset_index()

In [56]:
df1.head()

     Country   Quantity
0  Australia  66.444003
1    Austria  12.037406
2    Bahrain  13.684211
3    Belgium  11.189947
4     Brazil  11.125000

In [57]:
df2 = df.groupby("CustomerID")["Quantity"].max()
df2 = pd.DataFrame(df2)
df2= df2.reset_index()

In [58]:
df3 = df.groupby("CustomerID")["Quantity"].min()
df3 = pd.DataFrame(df3)
df3 = df3.reset_index()

In [59]:
df2.merge(df3, on='CustomerID')

      CustomerID  Quantity_x  Quantity_y
0        12346.0       74215      -74215
1        12347.0         240           2
2        12348.0         144           1
3        12349.0          36           1
4        12350.0          24           1
...          ...         ...         ...
4367     18280.0           8           2
4368     18281.0          12           1
4369     18282.0          48          -5
4370     18283.0          13           1
4371     18287.0          60           4

[4372 rows x 3 columns]

In [60]:
df4 = df.groupby("StockCode")["Quantity"].sum()
df4 = pd.DataFrame(df4)
df4 = df4.reset_index()

In [61]:
df5 = df.groupby("StockCode")["UnitPrice"].min()
df5 = pd.DataFrame(df5)
df5 = df5.reset_index()

In [62]:
df4.merge(df5, on='StockCode')

         StockCode  Quantity  UnitPrice
0            10002      1037       0.00
1            10080       495       0.00
2            10120       193       0.21
3           10123C       -13       0.00
4           10123G       -38       0.00
...            ...       ...        ...
4065  gift_0001_20        20       0.00
4066  gift_0001_30        37       0.00
4067  gift_0001_40         3      33.33
4068  gift_0001_50         4      41.67
4069             m         1       2.55

[4070 rows x 3 columns]

In [77]:
import datetime as dt

In [73]:
df["InvoiceDate"] = pd.to_datetime(df['InvoiceDate'])

In [82]:
df['InvoiceDate'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
541904    9
541905    9
541906    9
541907    9
541908    9
Name: InvoiceDate, Length: 541909, dtype: int64

In [83]:
df6 = df.groupby(df['InvoiceDate'].dt.day)['Quantity'].sum()

In [86]:
df6 = pd.DataFrame(df6)
df6 = df6.reset_index()

In [87]:
df6.head()

   InvoiceDate  Quantity
0            1    174981
1            2    142711
2            3    152700
3            4    190694
4            5    228054